.musicalOdyssey {
  background-color: rgb(49, 221, 221);
  padding-top: 20px;
  padding-bottom: 20px;
}

.activeButton {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s;
}

.activeButton:hover {
  background-color: rgb(90, 90, 90);
  animation: rotateSide 0.4s linear both;
}

.disableButton {
  cursor: auto;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(24 24 24);
  opacity: 50%;
  filter: brightness(50%);
}

.disablePiano {
  opacity: 50%;
  filter: brightness(50%);
}

@keyframes rotateSide {
  0% {
    transform: rotate3d(0, 0, 1, 0deg) scale(1);
  }
  50% {
    transform: rotate3d(0, 0, 1, -180deg) scale(1.6);
  }
  100% {
    transform: rotate3d(0, 0, 1, -360deg) scale(1);
  }
}

.pianoElement {
  width: 80%;
}

.musicText {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

.musicStudio {
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;

  box-shadow: 3px 0px 20px 10px rgba(0, 83, 106, 0.25),
    -3px 0px 20px 10px rgba(0, 83, 106, 0.25),
    0px 3px 20px 1px rgba(0, 83, 106, 0.25),
    0px -3px 20px 10px rgba(0, 83, 106, 0.25);

  @media (max-width: 855px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.responsiveMusical1 {
  display: flex;
  @media (max-width: 855px) {
    flex-direction: column-reverse;
  }
}

.responsiveMusical2 {
  display: flex;
  @media (max-width: 855px) {
    flex-direction: column;
  }
}
